.main {
  align-items: center;
  background: url("../bubbles_cover.gif");
  //background-size: cover;
  opacity: 0.15;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.app-cover {
  background-image: url("../bubbles_cover.gif");
}

.opacity-effect {
  background-color: rgba(255, 255, 255, 0.5);
}

.title {
  display: block;
  font-size: 50px;
  z-index: 100;
}
.subtitle {
  display: block;
  font-size: 40px;
}
