.main {
  align-items: center;
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.title {
  color: #fff;
  display: block;
  font-family: monospace;
  font-size: 50px;
}
.subtitle {
  color: #fff;
  display: block;
  font-family: monospace;
  font-size: 40px;
}
