.bubbles-loader-img {
  width: 150px;
  height: auto;
}

.pulse {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  form {
    color: #444;
  }
  to {
    color: #555;
  }
}
