.bubbles-loader-img {
  width: 7.5rem;
  height: auto;
  @media (min-device-width: $sm) {
    // screens < 720px ( sm )
    width: 7.5rem;
  }
  @media (min-device-width: $md) {
    // screens < 1440px ( md )
    width: 15rem;
  }
  @media (min-device-width: $lg) {
    // screens >= 1440px ( lg )
    width: 15rem;
  }
}

.pulse {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  form {
    color: #444;
  }
  to {
    color: #555;
  }
}
