.flex {
  display: flex;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--center-v {
  align-items: center;
}
.flex--space-between {
  justify-content: space-between;
}

.flex-dir--col {
  flex-flow: column;
}
.flex-dir--row {
  flex-flow: row;
}
.main-container {
  min-height: 100vh;
  @include container-with-navbar;
}
