@mixin navbar-height {
  height: 55px;
  @media (min-device-width: $sm) {
    // screens < 720px ( sm )
    height: 65px;
  }
}

@mixin container-with-navbar {
  padding-top: 55px;
  @media (min-device-width: $sm) {
    // screens < 720px ( sm )
    padding-top: 65px;
  }
}
