/*** color palete ***/
$dark-black: #222;
$black-transparent: rgba(0, 0, 0, 0.75);
$black: #444;
$gray: #888;

$blue: #2d68ad;
$dark-blue: #28275c;
$light-blue: #1fa3cb;

/*** break points ***/
$xsm: 320px;
$sm: 480px;
$md: 720px;
$lg: 1440px;

/*** spacing ***/
$spaceBase: 15px;
